body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #ced4da;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@font-face {
    font-family:'arkitech Medium' ;
    src: url('../fonts/Arkitech\ Medium.ttf') format('truetype');
}

header{
    background-color: #0a2909;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
}
#logo {
    height: 80px;
    padding: 15px 30px;
}


header nav {
    align-self: flex-end;
    padding-bottom: 20px;
    padding-right: 20px;

}


nav a {
    text-decoration: none;
    color:rgb(6, 234, 6);
    font-size: 13px;
    padding: 15px;
    font-family: 'Arkitech Medium';
}

nav a:hover {
    color: rgb(196, 255, 133);
}

#imagem-home {
    width: 100%;
    height: 100px;
    background-image: url('../img/academia\ verde.webp');
    background-size: cover;
    opacity: 0.9;
    padding: 150px 0px;
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#call-to-action {
    background-color: #000;
    color: #ffde59;
    font-size: 20px;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
}

#solicitar-orcamento {
    background-color: #43f30d;
    margin-top: 100px;   
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 21px 63px;
    border-radius: 10px;
    margin-left: 1250px;
}

#solicitar-orcamento:hover {
    background-color: green;
    color: #ffffff;
    
}





footer {
    margin-top: auto;
    width: 100%;
    height: 100px;
    background-color: #212529;
    color: white;
    font-size: 16px;
    text-align: center;

}
footer span {
    font-family: 'Arkitech Medium';
    font-size: 15px;
    color:  greenyellow ;
}
#container{
    padding: 0px 100px;
    text-align: center;
    max-width: 1900px;
    margin:  0px auto;
}
#container p {
    color: #555;
}
h1 {
    font-family: 'Arkitech Medium';
    font-size: 26px;
    padding: 45px 0px 20px 0px;
}



.box-servico {
    background-color: white;
    border: 1px solid #0a2909;
    border-radius: 10px;
    margin: 0px 15px;
    
}
#destaque-servicos {
    display: flex;  
    justify-content: space-between;
    margin: 60px 0px;
}

.box-servico img {
    height: 180px;
}
.box-servico h2, p, a {
    padding: 0px 20px; 
}
.box-servico h2 {
    background-color: #0a2909;
    font-size: 25px;
    color: white;
    padding: 15px 20px;
    text-shadow: 1px 1px 2px black;
}

.box-servico a {
    text-decoration: none;
    font-weight: bold;
    color: lightslategray
}

.box-servico:hover a {
    color: rgb(6, 234, 6);
}
.box-servico:hover h2 {
    background-color: rgb(6, 234, 6);
}

/************************ Estilos para a pagina sobre.html ***********************/

#imagem-interna {
    width: 100%;
    padding: 30px   0px;
    background-image: url('../img/Wheybanner.webp');
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

#imagem-interna2 {
    width: 100%;
    padding: 30px   0px;
    background-image: url('../img/creatina\ banner.webp');
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

#imagem-interna3 {
    width: 100%;
    padding: 30px   0px;
    background-image: url('../img/pretreino.webp');
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

#imagem-interna4 {
    width: 100%;
    padding: 30px   0px;
    background-image: url('../img/vitamninas.webp');
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

#imagem-interna5 {
    width: 100%;
    padding: 30px   0px;
    background-image: url('../img/roupasbanner.webp');
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

#imagem-interna6 {
    width: 100%;
    padding: 30px   0px;
    background-image: url('../img/acessorios.webp');
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

#imagem-interna-header span {
    font-family: 'Arkitech Medium';
    font-size: 26px;
    color: rgb(6, 234, 6);
}

#conteudo-empresa{
    display: flex;
    margin: 30px auto;
}


#video-empresa {

    width: 50%;
    margin-right: 30px;
    padding: 33px 0px 20px 0px;
}


#info-empresa{
    width: 50%;
    margin-left: 30px ;
}
#video-empresa video{
    max-width: 100%;
    border-radius: 10px;
}

#info-empresa p, li {
    color: #555;
    text-align: justify;
    padding-left: 0px;
    padding-right: 0px;
}

h3 {
    color: rgb(6, 234, 6);
}

/******** Estilos  para página de contato.html ********/

#contato-conteudo {
    display: flex;
    padding: 45px 0px 45px 0px;
}

#dados-contato {
    width: 50%;
    margin-right: 30px;
}

#mapa {
    width: 50%;
    margin-left: 30px;
}

#frm-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

textarea {
    resize: none;
}

#frm-contato input, textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin: 5px 0px;
    border-radius: 10px;
    border: 1px solid lightslategray;
    padding: 5px 10px;
}

button {
    margin: 25px 15px 0px 15px;
    padding: 8px 40px;
    border-radius: 10px;
    border: 0px;
    font-size: 10px;
}

#botao-enviar {
    background-color: #37b400;
    color: white;
}

#botao-apagar {
    background-color: #c4c4c4;
    color: #555;
}

#frame-mapa {
    border-radius: 10px;
}